
/* Button used to open the chat form - fixed at the bottom of the page */
    .open-button {
        background-color: #555;
        color: white;
        padding: 16px 20px;
        border: none;
        cursor: pointer;
        opacity: 0.8;
        position: fixed;
        bottom: 17vh;
        margin-right: 3vw;
        margin-left: 23vw;
        width: 280px;
        float: right;
    }

    /* The popup chat - hidden by default */
    .form-popup {
        display: none;
        position: fixed;
        border: 3px solid #f1f1f1;
        text-align: center;
        margin-bottom: 5vh;
    }

    /* Add styles to the form container */
    .form-container {
        position: fixed;
        max-width: 300px;
        padding: 10px;
        background-color: white;
        float: right;
        margin-left: 83vw;
        top: 33vh;
    }

    /* Full-width textarea */
    .form-container textarea {
        width: 100%;
        padding: 15px;
        margin: 5px 0 22px 0;
        border: none;
        background: #f1f1f1;
        resize: none;
        min-height: 100px;
    }

    .answer {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 12px;
        min-height: 100px;
        max-height: 120px;
        width: 100%;
        padding: 15px;
        margin: 5px 0 22px 0;
        border: none;
        background: #f1f1f1;
        resize: none;
        overflow:auto;
    }

    /* When the textarea gets focus, do something */
    .form-container textarea:focus {
        background-color: #ddd;
        outline: none;
    }

    /* Set a style for the submit/login button */
    .form-container .btn {
        background-color: #04AA6D;
        color: white;
        padding: 16px 20px;
        border: none;
        cursor: pointer;
        width: 100%;
        margin-bottom: 10px;
        opacity: 0.8;
        float: right;
        position: relative;
    }

    /* Add a red background color to the cancel button */
    .form-container .cancel {
        background-color: red;
    }

    /* Add some hover effects to buttons */
    .form-container .btn:hover,
    .open-button:hover {
        opacity: 1;
    }