.komponenty {
    position: relative;
    background-color: rgba(203, 203, 203, 0.293);
    height: 27vh;
    width: 30vw;
    float: left;
    margin-left: 2.3vw;
    margin-top: 2.5vh;
    padding: 0;
}