.konf{
    background-color: azure;
    display: grid;
    grid-column-start: 1;
    grid-column-end: 3;
}
.komponenty{
    background-color: rgba(203, 203, 203, 0.293);
    height: 9vh;
    width: 10vw;
    float: left;
    margin-left: 2.3vw;
    margin-top: 2.5vh
}
.search{
    background-color: white;
    width: 213px;
}
.polecane{
    background-color: aqua;
    width: 533px;
    height: 900px;
}
.komponentyPol{
    background-color: rgba(203, 203, 203, 0.293);
    height: 9vh;
    width: 10vw;
    float: left;
    margin-left: 2.3vw;
    margin-top: 2.5vh
}