.konf {
    background-color: azure;
}

.konf_wlasc {
    margin: auto;
    width: 45%;
    padding-top: 20px;
}

.komponent {
    border: 2px solid #1c5550;
    position: relative;
    background-color: rgba(203, 203, 203, 0.293);
    height: 27vh;
    width: 31vw;
    float: left;
    margin-left: 2.3vw;
    margin-top: 2.5vh;
    margin-bottom: 5vh;
    padding: 0;
}

.zdj {
    max-width: 200px;
    max-height: 150px;
}

.polecane {
    position: absolute;
    right: 55px;
    top: 100px;
    margin: auto;
}

.komponentyPol {
    border: 2px solid #1c5550;
    height: 86px;
    width: 22.7vw;
    padding: 3px;
    clear: both;
    display: table;
}

#btnDodaj {
    right: 8px;
    bottom: 8px;
}

.stopka {
    font-size: 13px;
    background-color: rgb(197, 206, 206);
    text-align: center;
    width: 100vw;
    position: fixed;
    opacity: 80%;
    bottom: 0;
}

.opis {
    float: left;
    margin-left: 1vw;
    font-size: 1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

select {
    width: 60%;
}

.zapisz {

    background-color: #6380b3;
    color: white;
    border: none;
    cursor: pointer;
  
    position: relative;
    bottom: 17vh;
   
   width: 10vw;
   height: 10vh;
   float: left;
}