.konf{
    background-color: azure;
}
.konf_wlasc{
    margin: auto;
    width: 45%;
    padding-top: 20px;
}
.komponenty{
    width: 100%;
    border: 2px solid #1c5550;
    height: 450px;
}
.zdj{
    max-width: 200px;
    max-height: 150px;
}
.search{
    width: 70%;
    
}
.polecane{
    position: absolute;
    right: 55px;
    top: 100px;
    margin: auto;
}
.komponentyPol{
    border: 2px solid #1c5550;
    height: 86px;
    padding: 3px;
}
#btnDodaj{
    position: absolute;
    right: 8px;
    bottom: 8px;
}
#btnDodaj2{
    position: absolute;
    right: 8px;
    bottom: 8px;
}
#btnDodaj3{
    position: absolute;
    right: 8px;
    bottom: 8px;
}
.stopka{
    font-size: 13px;
    background-color: rgb(197, 206, 206);
    text-align: center;
    width: 100vw;
    position: absolute;
    bottom: 0;
}