.main-all {
    background-color: azure;
    height: 80vh;
    width: 100vw;
    padding-top: 8vh;
}

.oferta {
    background-color: rgba(203, 203, 203, 0.293);
    height: 27vh;
    width: 30vw;
    float: left;
    margin-left: 2.3vw;
    margin-top: 2.5vh
}

.zdj {
    float: left;
    width: 10vw;
    height: 10vh;
}

.opis {
    float: left;
    margin-left: 1vw;
    font-size: 1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}